@media (min-width: 641px) and (max-width: 980px) {
  .footer {
    display: block;
    height: 97px;
    line-height: 97px;
    padding: 0 40px;
    &__since {
      display: inline-block;
      font-size: 1.5rem;
      margin-bottom: 0;
      float: right;
    }
    &__slogan {
      display: inline-block;
      font-size: 1.5rem;
      float: right;
    }
    &__logo {
      display: block;
      float: left;
      height: 83px;
      margin-top: calc((97px - 83px) / 2);
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}