@media (min-width: 641px) and (max-width: 980px) {
  .menu {
    padding-top: 40px;
    padding-bottom: 18px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px 0 10px;
      margin-bottom: 0;

      &__content {
        &__title {
          font-size: 3.9rem;
        }

        &__subtitle {
          font-size: 2rem;
        }
      }

      &__logo {
        display: block;
        height: 89px;
      }
    }

    &__category {
      padding-bottom: 18px;
      width: 50%;

      &__header {
        font-size: 1.75rem;
        letter-spacing: 0.16rem;
      }

      &--drink {
        float: left;
      }

      &--snack {
        float: right;
      }

      &__item {
        padding: 13px 18px 0;
        color: $darkGrey;

        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 25px;
          margin-bottom: 16px;

          &__title {
            text-transform: uppercase;
            font-size: 1.6rem;
            letter-spacing: -0.05rem;
          }

          &__img {
            width: 30px;
            text-align: center;

            &__icon {
              height: 25px;
            }
          }
        }

        &__container {
          &__list {
            margin-bottom: 11px;

            &__main {
              display: flex;
              justify-content: space-between;
              margin-bottom: 6px;

              &__title {
                font-size: 1.4rem;

                &::before {
                  position: relative;
                  left: -2px;
                  bottom: 3px;
                  margin-right: 2px;
                  display: inline-block;
                  font-style: normal;
                  font-variant: normal;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  content: "\f111";
                  font-family: FontAwesome;
                  font-size: 0.4rem;
                }
              }

              &__price {
                font-size: 1.4rem;
                font-weight: bold;
              }
            }

            &__description {
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}