@media (min-width: 641px) and (max-width: 980px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 97px;
    padding-left: 0;
    padding-right: 35px;
    background: #373c3f;
    &__title {
      display: none;
    }
    &__button {
      display: none;
    }
    &__list {
      display: block !important;
      position: static;
      width: auto;
      background: transparent;
      &__item {
        display: inline-block;
        margin-right: 0.9rem;
        box-shadow: none;
        &:hover {
          background: transparent;
        }
        &__link {
          text-transform: uppercase;
          font-size: 1.6rem;
          letter-spacing: -0.05rem;
          color: #FFFFFF;
        }
      }
    }

    &__logo {
      display: block ;
    }
  }
}
