@media (min-width: 641px) and (max-width: 980px) {
  .products {
    display: flex;
    &__item {
      display: block;
      width: 33.33%;
      height: 327px;
      //line-height: 327px;
      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 3.5rem;
      }

      &__button {
        display: none;
      }
    }
  }
}