.abstract-img {
    display: inline-grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(8, 50px);
    grid-gap: 5px;
    border: 10px solid black;
}
.r1c1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: lightgrey;
}
.r1c2 {
    grid-column-start: 3;
    grid-column-end: 6;
    background: lightgrey;
}
.r1c3 {
    background: black;
}
.r1c4 {
    background: lightgrey;
}
.r2c1 {
    background: lightgrey;
}
.r2c2 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background: blue;
}
.r2c3 {
    grid-column-start: 6;
    grid-column-end: 8;
    background: yellow;
}
.r3c1 {
    grid-row: 3/5;
    background: lightgrey;
}
.r3c2, .r3c3 {
    background: lightgrey;
}
.r4c1 {
    grid-column: 2/4;
    grid-row: 4/6;
    background: black;
}
.r4c2 {
    grid-column: 4/6;
    background: lightgrey;
}
.r4c3 {
    grid-column: 6/8;
    background: lightgrey;
}
.r5c1 {
    grid-row: 5/8;
    background: yellow;
}
.r5c2 {
    grid-column: 4/6;
    background: lightgrey;
}
.r5c3 {
    grid-column: 6/8;
    grid-row: 5/7;
    background: red;
}
.r6c1{
    grid-column: 2/4;
    grid-row: 6/8;
    background: lightgrey;
}
.r6c2 {
    grid-column: 4/6;
    background: black;
}
.r7c1 {
    grid-column: 4/6;
    background: yellow;
}
.r7c2 {
    grid-row: 7/9;
    grid-column: 6/8;
    background: blue;
}
.r8c1 {
    background: lightgrey;
}
.r8c2 {
    grid-column: 2/4;
    background: lightgrey;
}
.r8c3 {
    background: black;
}
.r8c4 {
    background: yellow;
}