@import '640/navbar';
@import '640/header';
@import '640/products';
@import '640/menu';
@import '640/footer';

@import '980/navbar';
@import '980/header';
@import '980/products';
@import '980/menu';
@import '980/footer';

@import '1200/navbar';
@import '1200/header';
@import '1200/products';
@import '1200/menu';
@import '1200/footer';

@media (min-width: 321px) and (max-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 641px) and (max-width: 980px) {
  html {
    font-size: 9px;
    .container {
      max-width: 980px;
    }
  }
}
//@media (min-width: 981px) and (max-width: 1200px) {
@media (min-width: 981px) {
  html {
    font-size: 13px;
    .container {
      max-width: 100%;
    }
  }
}
//@media (min-width: 1201px) {
//  html {
//    font-size: 15px;
//    .container {
//      max-width: 1200px;
//      margin-left: auto;
//      margin-right: auto;
//    }
//  }
//}