@import "reset.css";
@import "fonts.css";
@import "sprite-icons.css";
* {
    box-sizing: border-box;
}
body {
    font-family: 'Loto', sans-serif;
}
.clear-fix::after {
    content: "";
    clear: both;
    display: block;
}
.link {
    text-decoration: none;
    color: #3cb878;
    border-bottom: 1px solid transparent;
    transition: all 1s;
}
.link:hover {
    border-color: #3cb878;
}
.layout-bg {
    position: relative;
    width: 100%;
    min-height: 770px;
    background-image: url("../img/rana-sawalha-364253-unsplash@1X.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-attachment: fixed;*/
}
.nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    padding-left: 81px;
    padding-right: 75px;
    height: 56px;
    line-height: 56px;
}
.nav .nav-logo {
    float: left;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    transition: all 1s;
}
.nav .nav-logo:hover {
    color: #3cb878;
}
.nav .notification-section {
    float: right;

}
.nav .notification-section .notification-icon {
    margin: 0 20px;
    display: inline-block;
    position: relative;
}
.nav .notification-section .notification-icon .hover,
.nav .notification-section .notification-icon .default {
    position: absolute;
    top: -15px;
    right: 0;
    transition: all 1s;
}
.nav .notification-section .notification-icon .hover {
   opacity: 0;
}
.nav .notification-section .notification-icon:hover .hover {
    display: inline-block;
    opacity: 1;
}
.nav .notification-section .notification-icon:hover .default {
   opacity: 0;
}
.nav .nav-login-register {
    float: right;
    color: #FFFFFF;
}
.nav .nav-login-register::before {
    content: "";
    margin-left: 10px;
    margin-right: 24px;
    height: 19px;
    border-left: 1px solid rgba(255,255,255,.2);
}
.layout-bg .sign-up-section {
    position: relative;
    top: 56px;
    width: 100%;
    height: 100%;
}
.layout-bg .sign-up-section .sign-up-box {
    position: absolute;
    padding: 32px 61px;
    top: calc((770px - 56px - 584px) / 2 );
    left: calc((100% - 444px) / 2 );
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-align: center;

}
.layout-bg .sign-up-section .sign-up-box .box-title {
    float: left;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
}
.layout-bg .sign-up-section .sign-up-box .log-in {
    float: right;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-buttons {
    margin-top: 16px;
    margin-bottom: 33px;
    width: 100%;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-buttons .button {
    display: block;
    margin-right: 0 !important;
    width: calc(50% - 4px);
    height: 46px;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 3px;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-buttons .facebook {
    background: #305db8;
    float: left;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-buttons .google {
    background: #df4a32;
    float: right;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-buttons .button .item {
    font-size: 22px;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-buttons .button .item::after {
    content: "";
    margin: 0 17px;
    width: 0;
    height: 28px;
    border: 1px solid rgba(0,0,0,.1);
}
.layout-bg .sign-up-section .sign-up-box .line-separate {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(132, 132, 132, 255);
    line-height: 0;
}
.layout-bg .sign-up-section .sign-up-box .title-separate {
    padding:0 18px;
    font-size: 14px;
    background: #FFFFFF;
    color: rgba(132, 132, 132, 255);
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form {
    font-size: 14px;
    padding-top: 18px;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form .input-box {
    margin-bottom: 9px;
    padding: 0 19px;
    width: 100%;
    height: 46px;
    line-height: 46px;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.1);
    transition: all .7s;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form .input-box:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    outline: 0;
}

.layout-bg .sign-up-section .sign-up-box .sign-up-form  .checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 28px;
    padding-left: 30px;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form .checkbox-container .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.layout-bg .sign-up-section .sign-up-box .sign-up-form .checkbox-container .checkbox {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(0,0,0,.5);
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form .checkbox-container .checkbox-input ~ .checkbox .checkmark {
    color: #3cb878;
    font-size: 16px;
    display: none;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form .checkbox-container .checkbox-input:checked ~ .checkbox .checkmark {
    display: block
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form .checkbox-container .checkmark {
    position: absolute;
    top: 1px;
    left: 2px;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form .submit-button {
    background: #3cb878;
    border-radius: 3px;
    color: #FFFFFF;
    line-height: normal;
}
.layout-bg .sign-up-section .sign-up-box .sign-up-form .submit-button:hover {
    cursor: pointer;
}
.layout-bg .sign-up-section .sign-up-box::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #3cb878;
}