@import url("fonts.css");
* {
    box-sizing: border-box;
    text-decoration: none;
}
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}
.bg-img {
    width: 1366px;
    background-color: #000000;
    background-image: url("../img/layout.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.layout {
    width: 1366px;
    padding: 0 155px;
    background: rgba(0,0,0,.5);
    font-family: "Lato", sans-serif;
}
.header .logo-img {
    float: left;
    margin-right: 15px;
}
.header .logo-text {
    display: inline-block;
    width: 200px;
    margin-top: 49px;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
}
.header .logo-text::before {
    content: url("../img/logo.png");
    float: left;
    margin-right: 15px;
}
.header .logo-text:hover {
    color: #f26522;
}
.header .logo-text:hover::before {
    content: url("../img/logo-hover.png");
}
.header .logo-text .brand-name:first-child {
    font-size: 29px;
    font-weight: bold;
}
.header .contact-info {
    font-size: 18px;
    font-color: #FFFFFF;
}
.header .contact-info {
    float: right;
    display: inline-block;
    margin-top: 57px;
}
.header .contact-info .contact-link {
    display: block;
    text-align: right;
    font-size: 18px;
    color: #FFFFFF;
    transition: all .8s ease;
}
.header .contact-info .contact-link:hover {
    color: #f26522;
}
.header .contact-info .tel{
    margin-top: 5px;
}
.tours-section {
    margin-top: 48px;
}
.tours-section .tour-item {
    position: relative;
    float: left;
    width: 307px;
    margin-bottom: 58px;
}
.tours-section .tour-item:not(:nth-child(3n)) {
    margin-right: calc((1366px - (155px * 2) - (307px * 3)) / 2 );
}
.tours-section .tour-item .img-box {
    width: 100%;
    height: 200px;
}
.tours-section .tour-item .detail-box {
    position: absolute;
    top: calc(200px - 63px);
    width: 100%;
    height: 63px;
    background: #f26522;
    padding-top: 16px;
    padding-left: 21px;
    padding-right: 18px;
    transition: all .8s ease;
    opacity: 0;
}
.tours-section .tour-item:hover .detail-box {
    opacity: 1;
}
.tours-section .tour-item .tour-title {
    transition: all .8s ease;
}
.tours-section .tour-item:hover .tour-title {
    color: #f26522;
}
.tours-section .tour-item .detail-box .price {
    display: block;
    font-size: 20px;
    color: #FFFFFF;
    float: left;
}
.tours-section .tour-item .detail-box .price::before {
    content: "from";
    display: block;
    font-size: 10px;
}
.tours-section .tour-item .detail-box .more {
    display: block;
    margin-top: 14px;
    font-size: 14px;
    color: #FFFFFF;
    float: right;
}
.tours-section .tour-item .detail-box .more .next {
    margin-left: 15px;
    color: rgba(255, 255, 255, .8);
}
.tours-section .tour-item .tour-title {
    display: block;
    margin-top: 22px;
    font-size: 18px;
    text-align: center;
    color: #FFF;
}
.footer .copyright {
    padding: 3px 0 20px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
}