.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55px;
  background: $lightGreen;
  &__since {
    font-size: 1.3rem;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  &__slogan {
    font-size: 1.3rem;
    color: #FFFFFF;
  }
  &__logo {
    display: none;
  }
}