.header {
  height: 173px;
  margin-bottom: 4px;
  padding: 18px 20px;
  box-sizing: border-box;
  background-image: url("../img/header-fon@1X.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__slogan {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 7px;
  }
  &__subslogan {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 9px;
  }
  &__site {
    font-size: 1.4rem;
    font-weight: bold;
    color: $lightGreen;
  }
}