.menu {
  padding-top: 24px;
  padding-bottom: 18px;
  &__header {
    margin-bottom: 9px;
    &__content {
      &__title {
        margin-left: 7px;
        margin-bottom: 3px;
        font-size: 1.9rem;
        letter-spacing: 0.06rem;
        text-transform: uppercase;
        color: $darkGrey;
      }
      &__subtitle {
        margin-left: 7px;
        font-size: 1rem;
        letter-spacing: 0.01rem;
        color: #CBCCCE;
      }
    }
    &__logo {
      display: none;
    }
  }
  &__category {
    padding-bottom: 18px;
    &__header {
      line-height: 37px;
      padding: 0 19px;
      font-size: 1.75rem;
      letter-spacing: 0.16rem;
      text-transform: uppercase;
    }
    &--drink {
      .menu__category__header {
        background: $darkGrey;
        color: $lightGreen;
      }
    }
    &--snack {
      .menu__category__header {
        background: $lightGreen;
        color: #FFFFFF;
      }
    }
    &__item {
      padding: 13px 18px 0;
      color: $darkGrey;
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 25px;
        margin-bottom: 16px;
        &__title {
          text-transform: uppercase;
          font-size: 1.6rem;
          letter-spacing: -0.05rem;
        }
        &__img {
          width: 30px;
          text-align: center;
          &__icon {
            height: 25px;
          }
        }
      }
      &__container {
        &__list {
          margin-bottom: 11px;
          &__main {
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;
            &__title {
              font-size: 1.4rem;
              &::before{
                position: relative;
                left: -2px;
                bottom: 3px;
                margin-right: 2px;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                content: "\f111";
                font-family: FontAwesome;
                font-size: 0.4rem;
              }
            }
            &__price {
              font-size: 1.4rem;
              font-weight: bold;
            }
          }
          &__description {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}