.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 18px;
  background:#373c3f;
  &__title {
    padding: 11px 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: -0.07rem;
    text-decoration: none;
    color: #FFFFFF;
  }
  &__button {
    width: 41px;
    border: none;
    background: #202529;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
    &__line {
      margin: 2px auto;
      width: 16px;
      height: 2px;
      background: #FFFFFF;
      transition: all .5s ease;
    }
    &--active {
      .navbar__button__line {
        width: 20px;
        transform-origin: left center;
        &--top {
          transform: translateX(3px) translateY(-3px) rotate(45deg);
        }
        &--middle {
          opacity: 0;
        }
        &--bottom {
          transform: translateX(3px) translateY(3px) rotate(-45deg);
        }
      }
    }
  }
  &__list {
    position: absolute;
    top: 36px;
    right: 0;
    width: 182px;
    max-width: 100%;
    background: #FFFFFF;
    &__item {
      height: 32px;
      line-height: 32px;
      padding-left: 12px;
      box-shadow: 0 0 1px rgba(0,0,0,.5);
      transition: all .5s ease;
      &:hover {
        background: #f5f5f5;
      }
      &__link {
        font-size: 1.2rem;
        text-decoration: none;
        color: $darkGrey;
      }
    }
  }
  &__logo {
    display: none; //temporary
  }
}