.products {
  &__item {
    display: flex;
    height: 75px;
    //line-height: 75px;
    margin-bottom: 1px;
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 71px);
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      background-repeat: no-repeat;
      background-size: cover;
      &--pizza {
        background-image: url("../img/Pizza delivery fon@1X.png");
        background-position: center 90%;
      }
      &--salad {
        background-image: url("../img/UA_UX Salads fon@1X.png");
        background-position: center 85%;
      }
      &--dessert {
        background-image: url("../img/Desserts fon@1X.png");
        background-position: center 10%;
      }
    }
    &__button {
      display: block;
      width: 71px;
      border: none;
      background: $lightGreen;
      color: #FFFFFF;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
}