//----------IMPORT-RESET----------
@import "reset";
/** if you have separate file for variables and mixins, or fonts - import it here **/
//----------COMMON----------
$lightGreen: #acd8ad;
$darkGrey: #3f4043;

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 320px;
}

//----------IMPORT----------
@import "navbar";
@import "header";
@import "products";
@import "menu";
@import "footer";

//----------IMPORT-MEDIA----------
@import "media/all-media";