@import "reset.css";
@keyframes titles {
    0% {
        opacity: 1;
        top: 100vh;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -200vh;
    }
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.black-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
}
.center {
    text-align: center;
    text-transform: uppercase;
}
.justify {
    text-align: justify;
}
.titles-container {
    position: relative;
    width: 60%;
    height: 100vh;
    left: 20%;
    bottom: 0;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(30deg);
}
.titles {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 45px;
    overflow: hidden;
    animation: titles 30s linear infinite;
}