@media (min-width: 981px) {
  .header {
    height: 530px;
    padding: 64px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    &__slogan {
      font-size: 5.4rem;
      font-weight: bold;
      margin-bottom: 27px;
    }

    &__subslogan {
      font-size: 5.4rem;
      font-weight: bold;
      margin-bottom: 49px;
    }

    &__site {
      font-size: 3.4rem;
    }
  }
}