@import "reset.css";
@import "fonts.css";
* {
    box-sizing: border-box;
}
body {
    padding: 29px 0 22px;
    background: #3a4965;
    font-family: 'Roboto', sans-serif;
}
.table-block, .table-title, .feature, .standard, .ultimate, .premium {
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.table-title, .feature, .standard, .ultimate, .premium {
    vertical-align: middle;
}
.table-block {
    text-transform: uppercase;
    text-align: center;
    color: rgba(72, 72, 72, 255);
    margin: 0 auto;
}
.table-block .header-block .header-row {
    height: 113px;

}
.table-block .header-block .header-row .table-title {
    width: 198px;
    background: #fafafa;
}

.table-block .header-block .header-row .table-title .secondary-title {
    font-size: 14px;
    margin-bottom: 10px;
}
.table-block .header-block .header-row .table-title .main-title {
    font-size: 20px;
}
.table-block .header-block .header-row .feature {
    width: 157px;
    font-size: 24px;
}
.table-block .header-block .header-row .feature .feature-icon {
    display: block;
    margin-bottom: 10px;
}
.table-block .body-block .body-row {
    height: 167px;
}
.table-block .body-block .body-row .standard:not(.price-title),
.table-block .body-block .body-row .ultimate:not(.price-title),
.table-block .body-block .body-row .premium:not(.price-title) {
    line-height: 1.5;
}
.table-block .body-block .body-row .price-title {
    width: 198px;
    color: #FFFFFF;
}
.table-block .body-block .body-row .price-title .price-content {
    position: relative;
    top: 10px;
    display: inline-block;
    padding-top: 10px;
    font-weight: bold;
    clear: both;
}
.table-block .body-block .body-row .price-title .feature-title {
    font-size: 24px;
    font-weight: bold;
}
.table-block .body-block .body-row .price-title .main {
    font-size: 36px;
    float: left;
}
.table-block .body-block .body-row .price-title .fractional {
    font-size: 18px;
    float: left;
}
.table-block .body-block .body-row .price-title .fractional::before {
    content: ".";
}
.table-block .body-block .body-row .price-title .interval {
    font-size: 14px;
}
.table-block .body-block .body-row .price-title .interval::before {
    content: "per ";
}
.table-block .body-block .body-row .price-title .button {
    margin-top: 20px;
    display: inline-block;
    width: 144px;
    height: 41px;
    line-height: 41px;
    text-decoration: none;
    background: #414141;
    color: #FFFFFF;
    border-bottom: 5px solid #343434;
    border-radius: 5px;
    font-size: 16px;
    transition: background .5s;
}
.table-block .body-block .body-row .price-title .button:hover {
    background: #343434;
}
.table-block .body-block .body-row .storage::after {
    content: "storage";
    display: block;
}
.table-block .body-block .body-row .bandwidth::after {
    content: "bandwidth";
    display: block;
}
.table-block .body-block .body-row .emails::after {
    content: "emails";
    display: block;
}.table-block .body-block .body-row .support::after {
     content: "support";
     display: block;
 }.table-block .body-block .body-row .products::after {
      content: "products";
      display: block;
  }
.table-block .body-block .body-row .users::after {
    content: "users";
    display: block;
}
.table-block .header-block .header-row .feature:nth-child(even),
.table-block .body-block .body-row .standard:nth-child(even),
.table-block .body-block .body-row .ultimate:nth-child(even),
.table-block .body-block .body-row .premium:nth-child(even) {
    background: #e3e3e3;
}
.table-block .header-block .header-row .feature:nth-child(odd),
.table-block .body-block .body-row .standard:nth-child(odd),
.table-block .body-block .body-row .ultimate:nth-child(odd),
.table-block .body-block .body-row .premium:nth-child(odd) {
    background: #f2f2f2;
}
.table-block .body-block .body-row .price-title.standard {
    background: #89c331;
}
.table-block .body-block .body-row .price-title.ultimate {
    background: #f04a56;
}
.table-block .body-block .body-row .price-title.premium {
    background: #20807c;
}