@import "reset.css";
@import "fonts.css";
* {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Loto', sans-serif;
    width: 1400px;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax-wrapper::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
    background-size: cover;
    background-position: center;
}
.bg-img-1::before {
    top: 0;
    background-image: url("../img/bg1.jpg");
    min-height: 700px;
}
.bg-img-2::before {
    top: 1250px;
    background-image: url("../img/bg2.jpg");
    min-height: 700px;
}
.bg-img-3::before {
    top: 2500px;
    background-image: url("../img/bg3.jpg");
    min-height: 700px;
}
.transparent-particle {
    display: inline-block;
    border-top: 100px solid rgba(0,0,0,.7);
    border-bottom: 100px solid #FFFFFF;
    border-right: 50vw solid #FFFFFF;
    border-left: 50vw solid #FFFFFF;
}
.white-particle {
    display: inline-block;
    border-top: 100px solid #FFFFFF;
    border-bottom: 100px solid rgba(0,0,0,.7);
    border-right: 50vw solid rgba(0,0,0,.7);
    border-left: 50vw solid rgba(0,0,0,.7);
}
.title {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #14afca;
}
.sub-gray-title {
    font-size: 22px;
    color: #222222;
    font-weight: bold;
}
.sub-white-title {
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
}
.navbar {
    z-index: 1;
    position: absolute;
    top: 40px;
    width: 100%;
    height: 110px;
    line-height: 110px;
    padding: 0 220px;
    background: #FFFFFF;
}
.logo {
    margin: calc((110px - 35px) / 2) 0;
}
.navbar-list {
    display: inline-block;
    float: right;
}
.navbar-list-item {
    display: inline-block;
}
.navbar-list-item:not(:last-child) {
    margin-right: 30px;
}
.navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #3e4c4e;
    transition: all 1s;
}
.navbar-link:hover {
    color: #14afca;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding-top: 150px;
    background: rgba(0,0,0,.7);
}
.header-content {
    line-height: 1.5;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.about-section {
    margin-top: -4px;
    padding: 0 220px;
    text-align: center;
    background: #FFFFFF;
}
.about-content {
    margin-top: 42px;
    padding-bottom: 100px;
    line-height: 1.6;
}
.companies-section {
    margin-top: -3px;
    background: rgba(0,0,0,.7);
    text-align: center;
    padding-bottom: 70px;
}
.companies-grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 80px);
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
}
.adobe {
    padding: 10px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}
.adobe-text {
    height: 38px;
}
.team-section {
    margin-top: -4px;
    background: #FFFFFF;
    text-align: center;
    padding-bottom: 50px;
}
.team-flexbox {
    margin-top: 47px;
    display: flex;
    justify-content: center;
}
.team-flexbox-item {
    width: 300px;
    margin: 15px;
}
.team-flexbox-item-img {
    width: 200px;
}
.team-flexbox-item-text {
    font-size: 15px;
    line-height: 1.5;
    color: rgba(66, 79, 87, 255);
}
.testimonials-section {
    margin-top: -3px;
    background: rgba(0,0,0,.7);
    text-align: center;
    padding-bottom: 30px;
}
.quotation-block {
    width: 880px;
    margin: 43px auto 0;
    padding-bottom: 50px;
}
.quotation-content {
    font-style: italic;
    font-size: 16px;
    line-height: 1.3;
    color: rgba(211, 204, 204, 255);
    margin-bottom: 25px;
}
.quotation-author {
    margin-right: 40px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}
.reason-section {
    margin-top: -3px;
    padding-bottom: 30px;
    text-align: center;
    background: #FFFFFF;
}
.formula-block {
    margin: 55px auto 0;
    width: 780px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(66, 79, 87, 255);
}
.footer {
    text-align: center;
    background: #FFFFFF;
    padding: 100px 0;
    color: rgba(61, 60, 60, 255);
    font-size: 14px;
    line-height: 1.5;
}
.strong {
    font-weight: bold;
}