@import "reset.css";
@import "fonts.css";
* {
    box-sizing: border-box;
}
body {
    font-family: 'Loto', sans-serif;
}
.clear-fix::after {
    content: "";
    clear: both;
    display: block;
}
.section-title {
    padding: 52px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.navbar .logo-block {
    text-decoration: none;
}
.navbar .logo-block .logo-img {
    margin-left: 10px;
}
.navbar .logo-block .logo-text {
    position: relative;
    top: -4px;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar .navbar-block {
    display: flex;
}
.navbar .navbar-block .navbar-list:not(:last-child) {
    margin-right: 38px;
}
.navbar .navbar-block .navbar-list .navbar-list-item {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar .search-button {
    position: relative;
    right: 0;
    width: 68px;
    height: 70px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    border-radius: 0;
    transition: all 1s;
}
.navbar .search-button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    width: 200px;
}
.header-bg-fixed {
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 404px;
}
.header .header-title {
    font-size: 27px;
    color: #FFFFFF;
    margin-bottom: 44px;
}
.header .header-buttons-row .header-button {
    text-align: center;
    display: inline-block;
    width: 170px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
    border-radius: 3px;
    color: #FFFFFF;
    opacity: .8;
    transition: all .5s;
}
.header .header-buttons-row .header-button:hover {
    opacity: 1;
    transform: scale(1.075);
}
.header .header-buttons-row .header-button.subscribe {
    margin-right: 15px;
}
.posts {
    width: 100%;
    background: #f2f2f2;
}
.posts .posts-flex-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}
.posts .posts-flex-box .posts-flex-item {
    margin-bottom: 30px;
}
.posts .posts-flex-box .posts-flex-item .post-img {
    width: 100%;
}
.posts .posts-flex-box .posts-flex-item .post-title {
    height: 61px;
    line-height: 61px;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    background: #FFFFFF;
}
.clients-bg-fixed {
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.clients {
    display: grid;
    align-items: center;
    width: 100%;
    height: 600px;
}
.clients .clients-grid {
    display: grid;
    justify-content: center;
}
.clients .clients-grid .clients-title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.clients .clients-grid .clients-title .line {
    content: "";
    display: block;
    margin: 55px auto 50px;
    width: 60px;
    height: 3px;
}
.clients .clients-grid .img:not(:last-child) {
    margin-right: 75px;
}
.clients .clients-grid .national-post {
    position: relative;
    top: 7px;
}
.clients .clients-grid .clients-title {
    grid-column: 1 / span 4;
}
.top-rated .top-rated-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
}
.top-rated .top-rated-grid .top-rated-img {
    width: 100%;
}
.news {
    padding-bottom: 70px;
}
.news .news-grid {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 120px) / 4));
    grid-template-rows: 260px 418px 416px 260px;
    grid-gap: 40px;
}
.news .news-grid-item {
    background: #f9f7f7;
}
.news .news-grid-item.item1 {
    grid-column: 1 / 4;
}
.news .news-grid-item.item3 {
    grid-column: 1 / 3;
}
.news .news-grid-item.item4 {
    grid-column: 3 / 5;
}
.news .news-grid-item.item5 {
    grid-column: 1 / 3;
}
.news .news-grid-item.item6 {
    grid-column: 3 / 5;
}
.news .news-grid-item.item8 {
    grid-column: 2 / 5;
}
.news .news-grid-item:not(.text-right-block) .img {
    width: 100%;
}
.news .news-grid-item .content {
    padding: 20px 15px;
}
.news .news-grid-item .content .title {
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    margin-bottom: 10px;
}
.news .news-grid-item:not(.small-block) .content .title {
    text-align: right;
}
.news .news-grid-item.small-block .title {
    text-align: center;
    margin-top: 30px;
}
.news .news-grid-item .content .text {
    font-size: 14px;
    color: rgba(53, 58, 61, 255);
    text-align: right;
    line-height: 1.1;
}
.news .news-grid-item.text-right-block .img {
    height: 100%;
}
.news .news-grid-item.text-right-block .content {
    width: 250px;
    float: right;
}
.footer {
    width: 100%;
    height: 80px;
    padding: 0 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 70% 30%;
    font-size: 13px;
    color: #FFFFFF;
}
.footer .footer-logo {
    text-align: right;
}
/*-----------THEME----------*/
.grey-bg {
    background: #1d2124;
}
.violet-bg {
    background:  #8A2BE2;
}
.grey-text {
    color: #1d2124;
}
.violet-text {
    color:  #8A2BE2;
}
.transparent-grey-bg {
    background: rgba(0,0,0,.5);
}
.transparent-violet-bg {
    background: rgba(77, 19, 95, 0.5);
}
.theme-switch {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 50%;
    border: 0;
}
.theme-switch:hover {
    cursor: pointer;
}
.theme-switch:focus {
    outline: none;
}