@media (min-width: 321px) and (max-width: 640px) {
  .footer {
    height: 97px;
    &__since {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
    &__slogan {
      font-size: 1.5rem;
    }
    &__logo {
      display: none;
    }
  }
}