@media (min-width: 321px) and (max-width: 640px) {
  .header {
    height: 346px;
    margin-bottom: 5px;
    padding: 30px 38px;
    &__slogan {
      font-size: 4rem;
      margin-bottom: 17px;
    }
    &__subslogan {
      font-size: 4rem;
      margin-bottom: 19px;
    }
    &__site {
      font-size: 3.4rem;
    }
  }
}