@media (min-width: 321px) and (max-width: 640px) {
  .menu {
    padding-top: 45px;
    padding-bottom: 60px;
    &__header {
      margin-bottom: 20px;
      &__content {
        &__title {
          margin-left: 21px;
          margin-bottom: 9px;
          font-size: 3.9rem;
          letter-spacing: 0.06rem;
        }
        &__subtitle {
          margin-left: 23px;
          font-size: 1.7rem;
          letter-spacing: 0.13rem;
        }
      }
    }
    &__category {
      padding-bottom: 18px;
      &__header {
        line-height: 75px;
        padding: 0 37px;
        font-size: 3.9rem;
        letter-spacing: 0.07rem;
      }
      &__item {
        padding: 36px 38px 0;
        &__header {
          margin-bottom: 44px;
          &__title {
            font-size: 2.6rem;
            letter-spacing: 0.2rem;
          }
          &__img {
            width: 50px;
            &__icon {
              height: 49px;
            }
          }
        }
        &__container {
          &__list {
            margin-bottom: 20px;
            &__main {
              margin-bottom: 10px;
              &__title {
                font-size: 2.6rem;
                &::before{
                  left: -3px;
                  bottom: 10px;
                  margin-right: 2px;
                }
              }
              &__price {
                font-size: 2.6rem;
              }
            }
            &__description {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}