@media (min-width: 321px) and (max-width: 640px) {
  .navbar {
    padding-left: 38px;
    &__title {
      padding: 26px 0 25px;
      font-size: 2.4rem;
    }
    &__button {
      width: 82px;
    }
    &__list {
      top: 74px;
      width: 243px;
      &__item {
        height: 41px;
        line-height: 41px;
        padding-left: 27px;
        &__link {
          font-size: 1.4rem;
        }
      }
    }
  }
}