@media (min-width: 321px) and (max-width: 640px) {
  .products {
    &__item {
      height: 150px;
      //line-height: 150px;
      margin-bottom: 1px;
      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 142px);
        font-size: 3.6rem;
      }
      &__button {
        width: 142px;
      }
    }
  }
}