@import "reset.css";
@import "fonts.css";
* {
    box-sizing: border-box;
}
body {
    padding: 24px 0 31px;
    background: #3a4965;
    font-family: 'Lato', sans-serif;
}
.table-block,
.table-title, .plan-title, .price-title,
.storage, .bandwidth, .email, .support, .producs, .users, .button-cell {
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.table-block {
    text-transform: uppercase;
    text-align: center;
    color: rgba(72, 72, 72, 255);
    margin: 0 auto;
}
.table-block .header-block .table-title {
    width: 310px;
    vertical-align: top;
    background: #FAFAFA;
}
.table-block .header-block .table-title .secondary-title {
    margin-top: 54px;
    margin-bottom: 10px;
    font-size: 18px;
}
.table-block .header-block .table-title .main-title {
    font-size: 30px;
}
.table-block .header-block .plan-title {
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}
.table-block .header-block .plan-title.standard {
    background: #89c331;
}
.table-block .header-block .plan-title.ultimate {
    background: #f04a56;
}
.table-block .header-block .plan-title.premium {
    background: #20807c;
}
.table-block .header-block .price-title {
    height: 86px;
    background: #FAFAFA;
    vertical-align: top;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}
.table-block .header-block .price-title .currency {
    font-size: 60px;
    float: left;
}
.table-block .header-block .price-title .main {
    font-size: 60px;
    float: left;
}
.table-block .header-block .price-title .fractional::before {
    content: ".";
}
.table-block .header-block .price-title .fractional {
    font-size: 24px;
    margin-top: 6px;
}
.table-block .header-block .price-title .interval {
    font-size: 18px;
    margin-top: 6px;
}
.table-block .header-block .price-title .interval::before {
    content: "per ";
}
.table-block .body-block .body-row {
    height: 69px;
    line-height: 69px;
    font-size: 16px;
}
.table-block .body-block .body-row:nth-child(odd) {
    background: #F2F2F2;
}
.table-block .body-block .body-row:nth-child(even) {
    background: #E3E3E3;
}
.table-block .body-block .body-row .feature {
    width: 310px;
}
.table-block .body-block .body-row .feature  .feature-icon {
    margin-right: 12px;
    font-size: 24px;
}
.table-block .standard,
.table-block .ultimate,
.table-block .premium {
    width: 277px;
}

.footer-block .footer-row {
    height: 110px;
    line-height: 110px;
}
.footer-block .footer-row .button-cell .button {
    display: inline-block;
    width: 192px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    border-bottom: 6px solid rgba(0,0,0,.1);
    opacity: .8;
    transition: opacity .5s;
}
.footer-block .footer-row .button-cell .button:hover {
    opacity: 1;
}
.footer-block .footer-row .feature {
    background: #DDDDDD;
}
.footer-block .footer-row .feature .button {
    background: #484848;
}
.footer-block .footer-row .standard {
    background: #EEEEEE;
}
.footer-block .footer-row .standard .button {
    background: #89c331;
}
.footer-block .footer-row .ultimate {
    background: #F4F4F4;
}
.footer-block .footer-row .ultimate .button {
    background: #f04a56;
}
.footer-block .footer-row .premium {
    background: #EEEEEE;;
}
.footer-block .footer-row .premium .button {
    background: #20807c;
}